doctype html  
html(lang="en")
    head
        title= title
        link(rel="stylesheet", href="/css/main.css")
    body
        if username
            h1 Hellow #{username}
            div
                form(name='logout' , method='POST' , action='/logout')
                    input(type='submit' , value='Log out')
        else
            div
                a(href='/signup') Sign up
            div
                a(href='/login') Log in