<!DOCTYPE html>
html(lang="en")
  include includes/head.pug
  body
    .container

        .row.mt-5
        .col-md-6.m-auto
            .card.card-body
                h1.text-center.mb-3
                    i.fas.fa-user-plus Register

                form(name='signup' , method='POST' , action="/signup")
                    .form-group
                        label(for='username') Username
                        input.form-control(name='username' , type='text' , placeholder='uesrname')
                    .form-group
                        label(for="firstname") Firstname
                        input.form-control(name='firstname' , type='text' , placeholder='Firstname')
                    .form-group
                        label(for="lastname") Lastname
                        input.form-control(name='lastname' , type='text' , placeholder='Lastname')
                    .form-group
                        label(for="email") Email
                        input.form-control(name='email' , type='email' , placeholder='youremail@email.com')
                    .form-group
                        label(for="password") Password
                        input.form-control(name='password' , type='password' , placeholder='password')
                    .form-group
                        input.btn.btn-primary.btn-block(type='submit' , value='Sign up')

    include includes/bootstrap.pug